.sidebar
{
    width: 250px;
    background: #A65D3F;
    padding-top: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #ffffffb7;
    border-radius: 1.5%;
}

.avatar
{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border:#89694c 4px solid;
}

.sidebar ul
{
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 15px;
}

.sidebar li
{
    padding: 14px 0;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25;
    letter-spacing: 1px;
    line-height: 1.5;
}

.sidebar li.hover
{
    background: #8e4f36;
}

.sidebar li.active
{
    background: #89694c;
    color: #FFD6A2;
    border-radius: 50px;
}