.layout 
{
  display: flex;
  height: 100vh; 
  font-family: "Open Sans", sans-serif;; 
} 

.sidebar 
{
  width: 260px; 
  background-color: #2c3e50; 
  color: white; 
  padding: 20px; 
  text-align: center;
  padding-top: 8px; 
  border-radius: 1.5%;

}

.avatar 
{
  width: 120px; 
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 0;
}

.sidebar ul
{
  list-style: none;
  padding: 0;
}

.sidebar li
{
  padding: 12px;
  cursor: pointer;
  font-weight: 600;
}

.sidebar li.active
{
  color: #FFD6A2;
}

.content {
  flex: 1;
  padding: 48px 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}
